<% @project.tasks.each do |task| %>
  <li>
    <% if task.overdue? %>
      <span class="badge">Overdue</span>
    <% end %>
    <span class=<%= format_overdue_tasks(task) %>><%= task.title %> | <%= task.date_due %></span>
  </li>
<% end %>
