<% @projects.each do |project| %>
  <div class="well clearfix">
    <div class="col-md-4">
      <strong><%= project.title %></strong>
    </div>
    <div class="col-md-4">
      <%= link_to 'View Project', project_path(project), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
